@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

body {
	font-family: Lato, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}

h1 {
	font-size: 46px;
	color: #1e212c;
	line-height: 1.3;
	font-weight: 900;
}

.text-bold {
	font-size: 20px;
	font-weight: 700;
	color: #1e212c;
	line-height: 1.5;
}
