@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap);

.wrapper {
	min-height: 100%;
	overflow: hidden;
}

body {
	font-family: Lato, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: #424551;
}

.container {
	max-width: 810px;
	margin: 0 auto;
}

h1 {
	font-size: 46px;
	color: #1e212c;
	line-height: 1.3;
	font-weight: 900;
	margin-bottom: 92px;
}

img {
	margin-bottom: 60px;
	max-width: 100%;
}

.text-bold {
	margin-bottom: 24px;
	font-size: 20px;
	font-weight: 700;
	color: #1e212c;
	line-height: 1.5;
}

.text {
	margin-bottom: 48px;
}

.text p {
	margin-bottom: 24px;
}

.quote {
	margin-bottom: 48px;
	padding-left: 58px;
	font-size: 20px;
	font-weight: 700;
	color: #1e212c;
	line-height: 1.5;
}

.list {
	margin: 24px 0;
}

.list li {
	padding-left: 32px;
}
